{% if( auction ) %}


    <h1>Auktion:</h1>

    <dl class="itemDefList">
        <dt>Id:</dt>
        <dd>{{ auction.id }} </dd>

        <dt>itemId:</dt>
        <dd>{{ auction.itemId }} </dd>

        <dt>Start Datum:</dt>
        <dd>{{ auction.startDate | date('d.M.Y H:i \\U\\h\\r') }}</dd>
        <dt>End Datum:</dt>
        <dd>{{ endDate }}</dd>

        <dt>Laufzeit:</dt>
        <dd>{{ auction.auctionDuration }} Tage</dd>

        <dt>Start Preis:</dt>
        <dd>{{ auction.startPrice  | formatMonetary('EUR') }}</dd>
        <dt>Sofort Kaufen:</dt>
        <dd>{{ auction.buyNowPrice | formatMonetary('EUR') }}</dd>
    </dl>
{% endif %}

{% if liveAuction %}
    <h1>Live Auktion Input:</h1>

    {% set bidderListLast = liveAuction.bidderList | last %}
    {#{% set bidderListCount = liveAuction.bidderList[].count %}#}

    {#<h4>{{ bidderListCount }}</h4>#}

    <dl class="itemDefList">
        <dt>ID:</dt>
        <dd>{{ liveAuction.id }}</dd>

        <dt>itemId:</dt>
        <dd>{{ liveAuction.itemId }}</dd>

        <dt>auctionId:</dt>
        <dd>{{ liveAuction.auctionId }}</dd>

        {% if (liveAuction.isEnded == true) %}
            <dt>isEnded:</dt>
            <dd>{{ liveAuction.isEnded }}</dd>
        {% endif %}

        <dt>isLive:</dt>
        <dd>{{ liveAuction.isLive }}</dd>

        <dt>isEnded...BuyNow:</dt>
        <dd>{{ liveAuction.isEndedWithBuyNow }}</dd>

        <dt>bidderList:</dt>
        <dd>{{ liveAuction.bidderList | json_encode }}</dd>

        <dt>customerEmail:</dt>
        <dd>{{ bidderListLast.customerEmail }}</dd>

        <dt>bidPrice Bsp.:</dt>
        <dd>{{ bidderListLast.bidPrice  | formatMonetary('EUR') }}</dd>

        <dt>bidTimeStamp Bsp.:</dt>
        <dd>{{ bidderListLast.bidTimeStamp | date('d.m.Y H:i:s') }}</dd>

        <dt>createdAt:</dt>
        <dd>{{ liveAuction.createdAt | date('d.M.Y H:i:s \\U\\h\\r') }}</dd>

    </dl>
{% else %}

    <h1>Immerhin StageModus...</h1>


{% endif %}