{% extends 'Ceres::Homepage.Homepage' %}
{% set currentLang = services.sessionStorage.getLang() %}

{% set layoutPath = "https://www.schaffrathnumis.de/layout" %}
{% set domainPath = "https://www.schaffrathnumis.de" %}


{% block ThemeHomepage %}
    <div style="visibility: hidden" id="currentLang">{{ currentLang }}</div>

    <div class="home page-content container-max">

        <div class="cmp cmp-hero">

            <div class="hero-main">
                <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carousel-slider">
                    <div class="carousel-inner" id="carousel-content">
                        <!-- dynamic add content -->
                    </div>
                    <a class="left carousel-control" href="#carousel-slider" data-slide="prev"><i
                                class="icon-prev  fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#carousel-slider" data-slide="next"><i
                                class="icon-next fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="hero-xtras">
                <a class="hero-category" href="{{ domainPath }}/medaillen/">
                    <img src="{{ layoutPath }}/img/categorie2.jpg" alt="Medaillen">
                    <div class="hero-category-inner">
                        <h4 class="hero-category-headline">
                            {{ trans("CeresElectronic::Template.homepageKategorieMedaillen") }}
                        </h4>
                    </div>
                </a>
                <a class="hero-category" href="{{ domainPath }}/muenzen/">
                    <img src="{{ layoutPath }}/img/categorie1.jpg" alt="Münzen">

                    <div class="hero-category-inner">
                        <h4 class="hero-category-headline">
                            {{ trans("CeresElectronic::Template.homepageKategorieMuenzen") }}
                        </h4>

                    </div>
                </a>
            </div>

        </div>
        {#TEXT#}
        <div class="row">
            <div class="col-lg-6">
                <h1 style="font-size: 3rem" id="welcome-text"><!-- welcome text --></h1>
            </div>
            <div class="col-lg-6">
                <p id="short-description"><!-- short description --></p>
            </div>
        </div>

        <hr class="my-2">
        <!-- Abschnitt recommended plugins -->

        <div class="row">
            <div class="col-lg-1">
                <a class="btn btn-secondary" data-toggle="collapse" href="#collapseMore" aria-expanded="false"
                   aria-controls="collapseMore">
                    {{ trans("CeresElectronic::Template.homepageMoreButton") }}
                </a>
            </div>
            <div class="col-lg-11 ">
                <h2 style="text-align: center" id="recommend-text"><!-- recommend text --></h2>
            </div>
        </div>
        <hr class="my-2">


        <div class="collapse" id="collapseMore">
            <div class="card card-block">
                <h4>{{ trans("CeresElectronic::Template.homepageLongText") }}</h4>
                <p class="text-abel">Ich bin auf dem Gebiet der Numismatik schon seit vielen
                    Jahren aktiv und stehe in ständiger Verbindung mit Sammlern aus der ganzen Welt. Die Faszination des
                    Sammelns hat mich schon seit meiner Kindheit erfasst... <br/>Wichtigstes Objekt der Numismatik ist
                    die Münze. Aber auch andere Geldformen wie Papiergeld, vormünzliche Zahlungsmittel und münzverwandte
                    Objekte
                    wie Medaillen, Jetons oder religiöse Medaillen bis hin zu tesserae (Marken, beispielsweise
                    Färbermarken)
                    werden von der Numismatik untersucht. Bei den münzverwandten Objekten spricht man auch von
                    Paranumismatik oder Exonumia. Bei Epochen, aus denen wenige schriftliche Quellen überliefert sind,
                    haben
                    Münzen einen hohen Wert als Primärquellen zur Chronologie sowie zur Wirtschafts- und
                    Kulturgeschichte.
                    Dies gilt besonders für das griechische und römische Altertum und für Gebiete außerhalb der antiken
                    Mittelmeerkulturen (etwa die Reiche der Parther und Skythen), aber auch für das Früh- und
                    Hochmittelalter. Für diese Perioden sind vor allem Münzfunde, also Münzen, die bei Ausgrabungen
                    zusammen
                    mit anderen Objekten gefunden werden oder als Schatzfunde zufällig entdeckt werden, nicht nur
                    wichtige
                    Datierungshilfen für die zeitliche Einordnung archäologischer Befunde, sondern eine erstrangige
                    historische Quelle. Hier hat sich eine eigentliche Fundmünzennumismatik herausgebildet, die heute
                    den
                    dynamischsten und methodisch innovativsten Teil des Fachs bildet, denn bis heute vermehrt sich das
                    Quellenmaterial der Münzfunde ständig. <br/>In jüngerer Zeit gewinnen auch die einzeln gefundenen
                    Münzen
                    (Einzelfunde, Verlustfunde) an Beachtung und werden bei Fundinventaren ebenfalls erfasst. Seit dem
                    Mittelalter ist die Numismatik mit der zunehmenden Dichte an schriftlichen Quellen besonders
                    verzahnt
                    mit der Geldgeschichte, für die es sowohl historische als auch volkswirtschaftliche
                    Erscheinungsformen
                    gibt. Einen gewissen Endpunkt für die Numismatik setzt die neueste Zeit mit der stark zurückgehenden
                    Bedeutung des Münzgeldes. Einerseits eine hochspezialisierte historische und archäologische
                    Teildisziplin, hat die Numismatik andererseits zahlreiche Verbindungen zu Nachbarfächern wie der
                    Wirtschafts- und Sozialgeschichte, der Kunstgeschichte oder der Namenkunde. Speziell im Rahmen des
                    Faches Alte Geschichte ist Numismatik traditionell eine der wichtigsten Hilfswissenschaften.</p>
                <p class="small text-muted text-right">Zusätzliche Quelle: wikipedia.org/wiki/Numismatik</p>
            </div>
        </div>

        <!-- Geldscheine -->

        <div class="row prop-row">
            <div class="col-xs-12">
                <div class="prop-xs-2-1 prop-sm-4-1 prop-md-6-1">
                    <div class="prop-inner">
                        <a class="featured-sale" href="{{ domainPath }}/geldscheine/">
                            <img src="{{ layoutPath }}/img/categorie3.jpg" alt="First slide">
                            <div class="featured-category-inner">
                                <h4 class="featured-category-headline">
                                    {{ trans("CeresElectronic::Template.homepageKategorieGeld") }}
                                </h4>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- END Geldscheine -->


        <div class="m-b-2">

            <!-- Neuigkeiten -->
            <h4 class="section-header">{{ trans("CeresElectronic::Template.homepageNew") }}</h4>
            <!-- crosssell start -->
            <div class="row">
                <div class="col-xs-12">
                    <ul class="product-list row grid">
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                            <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                                <div class="thumb-inner">
                                    <div class="thumb-background"></div>
                                    <span>
                                    <div class="thumb-controls">
                                        <span>
                                            <button class="btn btn-primary thumb-btn-buy">
                                            {{ trans("Ceres::Template.addToBasket") }}
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="thumb-basket-frame">
                                        <div class="thumb-basket-inner fa-cart-plus">
                                        </div>
                                    </div>
                                    </span>

                                    <div class="thumb-image">
                                        <div class="square-container">
                                            <div class="square-inner main-image">
                                                <div>
                                                    <div>
                                                        <a href="#">
                                                            <img class="img-fluid lazy"
                                                                 data-original="/item/images/60801/1900x1600/60801.jpg"
                                                                 src="item/images/60801/1900x1600/60801.jpg"
                                                                 style="display: inline;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- STORE SPECIALS -->
                                    <!-- ./STORE SPECIALS -->
                                    <!-- ITEM DETAILS -->
                                    <div class="thumb-content">
                                        <a href="#" class="thumb-title small">
                                            Barhocker White SanFrancisco

                                        </a>
                                        <div class="thumb-meta">

                                            <div class="prices">
                                                <del class="crossprice">
                                                    100,00&nbsp;€
                                                </del>

                                                <div class="price">
                                                    79,00&nbsp;€
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- ./ITEM DETAILS  -->
                                </div>
                            </article>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                            <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                                <div class="thumb-inner">
                                    <div class="thumb-background"></div>
                                    <span>
                        <div class="thumb-controls">
                            <span>
                                <button class="btn btn-primary thumb-btn-buy">
                                {{ trans("Ceres::Template.addToBasket") }}
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                        <div class="thumb-basket-frame">
                            <div class="thumb-basket-inner fa-cart-plus">
                            </div>
                        </div>
                    </span>

                                    <div class="thumb-image">
                                        <div class="square-container">
                                            <div class="square-inner main-image">
                                                <div>
                                                    <div>
                                                        <a href="#">
                                                            <img class="img-fluid lazy"
                                                                 data-original="/item/images/46827/1900x1600/46827.jpg"
                                                                 src="/item/images/46827/1900x1600/46827.jpg"
                                                                 style="display: inline;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- STORE SPECIALS -->
                                    <div class="special-tags">

                        
                        
                        
                        <span class="tag bg-danger">
                            -39%
                        </span>
                                    </div>
                                    <!-- ./STORE SPECIALS -->
                                    <!-- ITEM DETAILS -->
                                    <div class="thumb-content">
                                        <a href="#" class="thumb-title small">
                                            Barhockerl Fury gepolstert

                                        </a>
                                        <div class="thumb-meta">

                                            <div class="prices">
                                                <del class="crossprice">
                                                    110,00&nbsp;€
                                                </del>

                                                <div class="price">
                                                    79,00&nbsp;€
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- ./ITEM DETAILS  -->
                                </div>
                            </article>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                            <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                                <div class="thumb-inner">
                                    <div class="thumb-background"></div>
                                    <span>
                            <div class="thumb-controls">
                                <span>
                                    <button class="btn btn-primary thumb-btn-buy">
                                    {{ trans("Ceres::Template.addToBasket") }}
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="thumb-basket-frame">
                                <div class="thumb-basket-inner fa-cart-plus">
                                </div>
                            </div>
                        </span>

                                    <div class="thumb-image">
                                        <div class="square-container">
                                            <div class="square-inner main-image">
                                                <div>
                                                    <div>
                                                        <a href="#">
                                                            <img class="img-fluid lazy"
                                                                 data-original="/item/images/46976/1900x1600/46976.jpg"
                                                                 src="/item/images/46976/1900x1600/46976.jpg"
                                                                 style="display: inline;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- STORE SPECIALS -->
                                    <!-- ./STORE SPECIALS -->
                                    <!-- ITEM DETAILS -->
                                    <div class="thumb-content">
                                        <a href="#" class="thumb-title small">
                                            Barsessel Black Mamba

                                        </a>
                                        <div class="thumb-meta">

                                            <div class="prices">
                                                <del class="crossprice">
                                                    120,00&nbsp;€
                                                </del>

                                                <div class="price">
                                                    99,00&nbsp;€
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- ./ITEM DETAILS  -->
                                </div>
                            </article>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                            <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
                                <div class="thumb-inner">
                                    <div class="thumb-background"></div>
                                    <span>
                                <div class="thumb-controls">
                                    <span>
                                        <button class="btn btn-primary thumb-btn-buy">
                                        {{ trans("Ceres::Template.addToBasket") }}
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="thumb-basket-frame">
                                    <div class="thumb-basket-inner fa-cart-plus">
                                    </div>
                                </div>
                            </span>

                                    <div class="thumb-image">
                                        <div class="square-container">
                                            <div class="square-inner main-image">
                                                <div>
                                                    <div>
                                                        <a href="#">
                                                            <img class="img-fluid lazy"
                                                                 data-original="/item/images/7969/1900x1600/7969.jpg"
                                                                 src="/item/images/7969/1900x1600/7969.jpg"
                                                                 style="display: inline;">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- STORE SPECIALS -->
                                    <!-- ./STORE SPECIALS -->
                                    <!-- ITEM DETAILS -->
                                    <div class="thumb-content">
                                        <a href="#" class="thumb-title small">
                                            Cocktailsessel Venedig

                                        </a>
                                        <div class="thumb-meta">

                                            <div class="prices">
                                                <del class="crossprice">
                                                    150,00&nbsp;€
                                                </del>

                                                <div class="price">
                                                    119,00&nbsp;€
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- ./ITEM DETAILS  -->
                                </div>
                            </article>
                        </li>


                    </ul>
                </div>
            </div>
        </div>

        <div class="container-max">


            <hr class="my-2">

            <div class="row">
                <div class="row mt-xs-0_5">
                    <ul class="flex-container" id="recommended-plugins">
                        <!-- recommended plugins -->
                    </ul>
                </div>
            </div>

        </div>


    </div>

    {#from Theme homepage + .json#}
    <script>
        function getJson(url) {
            var Httpreq = new XMLHttpRequest();
            Httpreq.open("GET", url, false);
            Httpreq.send(null);
            return Httpreq.responseText;
        }

        var currentLang = document.getElementById("currentLang").textContent || document.getElementById("currentLang").innerText;
        var json = JSON.parse(getJson('https://www.schaffrathnumis.de/layout/theme_sn_ao/homepage_ao.json'));

        renderCarousel();
        renderTexts();
        renderRecommendPlugins();

        function renderCarousel() {
            var carousel = document.getElementById("carousel-content");

            for (var i = 0; i < json[currentLang].pictures.length; i++) {
                var contentToAddDiv = document.createElement('div');

                contentToAddDiv.className = "carousel-item text-muted" + ( i == 0 ? " active" : "" );

                var contentToAdd = '<div class="hero-category">' +
                    '<img class="img-fluid" src="' + json[currentLang].pictures[i].pictureUrl + '">' +
                    '<div class="hero-category-inner"><h4 class="hero-category-headline">' + json[currentLang].pictures[i].textSliderUnten + '</h4>' +
                    '<div class="hero-category-cta"><a href="/kontakt/">KONTAKT</a><i class="fa fa-chevron-right" aria-hidden="true"></i></div></div>' +
                    '</div>' +
                    '<div class="carousel-caption">' +
                    '<h2>' + json[currentLang].pictures[i].text + '</h2>' +
                    '</div>';

                contentToAddDiv.innerHTML = contentToAdd;

                carousel.appendChild(contentToAddDiv);
            }
        }

        function renderTexts() {
            var welcomeText = document.getElementById("welcome-text");
            var shortDescription = document.getElementById("short-description");
            var recommendText = document.getElementById("recommend-text");

            welcomeText.innerHTML = json[currentLang].texts.welcome;
            shortDescription.innerHTML = json[currentLang].texts.shortDescription;
            recommendText.innerHTML = json[currentLang].texts.recommendText;
        }

        function renderRecommendPlugins() {
            var recommendedPlugins = document.getElementById("recommended-plugins");

            for (var i = 0; i < json[currentLang].recommended.length; i++) {
                var contentToAddLi = document.createElement('li');
                contentToAddLi.className = "flex-item";

                var contentToAdd = '<a href="' + json[currentLang].recommended[i].pluginLink + '">' +
                    '<img class="flex-image" src="' + json[currentLang].recommended[i].pluginIcon + '"</img>' +
                    '<div class="flex-align-bottom">' +
                    '<h1 class="flex-title">' + json[currentLang].recommended[i].pluginTitle + '</h1>' +
                    '<div class="flex-text">' + json[currentLang].recommended[i].pluginText + '</div>' +
                    '</div>' +
                    '</a>';

                contentToAddLi.innerHTML = contentToAdd;

                recommendedPlugins.appendChild(contentToAddLi);
            }
        }
    </script>



{% endblock %}