{% extends 'Ceres::Homepage.Homepage' %}
{% set currentLang = services.sessionStorage.getLang() %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set LAYOUT_PATH = "https://www.schaffrathnumis.de/layout" %}
{% set DOMAIN_PATH = "https://www.schaffrathnumis.de" %}

{#von CERES#}
{% block PartialHead %}
    <meta property="og:title" content="{{ companyName }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>
    <meta property="og:image"
          content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}"/>

    <link rel="canonical"
          href="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}{{ item.documents[0].data | itemURL }}">

    <script type="application/ld+json">
        {"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}
        ","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}
        /search?query={search_term}","query-input": "required name=search_term"}}





    </script>
{% endblock %}


{% block ThemeHomepage %}
    <div style="visibility: hidden" id="currentLang">{{ currentLang }}</div>

    {% set category3 = services.category.get(config("Ceres.homepage.homepageCategory3"), lang) %}
    {% set category6 = services.category.get(config("Ceres.homepage.homepageCategory6"), lang) %}

    {% set paginatedCategoryList1 =
    services.itemLoader.loadForTemplate(
    'Ceres::ItemList.ItemListView',
    itemLoaderPresets.categoryList,
    {'categoryId': category3.id, 'page':1, 'items':4, 'sorting': itemSort, 'variationShowType': config("Ceres.item.variation_show_type")}) %}

    {% set paginatedCategoryList2 =
    services.itemLoader.loadForTemplate(
    'Ceres::ItemList.ItemListView',
    itemLoaderPresets.categoryList,
    {'categoryId': category6.id, 'page':1, 'items':4, 'sorting': itemSort, 'variationShowType': config("Ceres.item.variation_show_type")}
    ) %}

    {% set categoryList1 = paginatedCategoryList1.documents %}
    {% set categoryList2 = paginatedCategoryList2.documents %}

    {{ component( "Ceres::ItemList.Components.ItemList") }}
    {{ component( "Ceres::ItemList.Components.CategoryImageCarousel") }}
    {{ component( "Ceres::Basket.Components.AddToBasket" ) }}


    <div class="home page-content container-max">

        <div class="cmp cmp-hero">

            <div class="hero-main">
                <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carousel-slider">
                    <div class="carousel-inner" id="carousel-content">
                        <!-- dynamic add content -->
                    </div>
                    <a class="left carousel-control" href="#carousel-slider" data-slide="prev"><i
                                class="icon-ao-left  fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#carousel-slider" data-slide="next"><i
                                class="icon-ao-right fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="hero-xtras">
                <a class="hero-category" href="{{ DOMAIN_PATH }}/medaillen/">
                    <img src="{{ LAYOUT_PATH }}/theme/images/homepage/categorie2.jpg" alt="Medaillen">
                    <div class="hero-category-inner">
                        <h4 class="hero-category-headline">
                            {{ trans("CeresElectronic::Template.homepageKategorieMedaillen") }}
                        </h4>
                    </div>
                </a>
                <a class="hero-category" href="{{ DOMAIN_PATH }}/muenzen/">
                    <img src="{{ LAYOUT_PATH }}/theme/images/homepage/categorie1.jpg" alt="Münzen">

                    <div class="hero-category-inner">
                        <h4 class="hero-category-headline">
                            {{ trans("CeresElectronic::Template.homepageKategorieMuenzen") }}
                        </h4>

                    </div>
                </a>
            </div>

        </div>
        {#TEXT#}
        <div class="row">
            <div class="col-lg-6">
                <h1 class="m-t-1" style="font-size: 3rem" id="welcome-text"><!-- welcome text --></h1>
            </div>
            <div class="col-lg-6">
                <p id="short-description"><!-- short description --></p>
            </div>
        </div>

        <hr class="my-2">
        <!-- Abschnitt recommended plugins -->

        <div class="row">
            <div class="col-lg-1">
                <a class="btn btn-secondary" data-toggle="collapse" href="#collapseMore" aria-expanded="false"
                   aria-controls="collapseMore">
                    {{ trans("CeresElectronic::Template.homepageMoreButton") }}
                </a>
            </div>
            <div class="col-lg-11 ">
                <h2 style="text-align: center" id="recommend-text"><!-- recommend text --></h2>
            </div>
        </div>
        <hr class="my-2">


        <div class="collapse" id="collapseMore">
            <div class="card card-block">
                <h4>{{ trans("CeresElectronic::Template.homepageLongTextTitle") }}</h4>
                <p class="text-abel">{{ trans("CeresElectronic::Template.homepageLongText") | raw }}</p>
                <p class="small text-muted text-right">{{ trans("CeresElectronic::Template.homepageLongTextQuelle") }}:
                    wikipedia.org/wiki/Numismatik</p>
            </div>
        </div>

        <!-- Geldscheine -->

        <div class="row prop-row">
            <div class="col-xs-12">
                <div class="prop-xs-2-1 prop-sm-4-1 prop-md-6-1">
                    <div class="prop-inner">
                        <a class="featured-sale" href="{{ DOMAIN_PATH }}/geldscheine/">
                            <img src="{{ LAYOUT_PATH }}/theme/images/homepage/categorie3.jpg" alt="First slide">
                            <div class="featured-category-inner">
                                <h4 class="featured-category-headline">
                                    {{ trans("CeresElectronic::Template.homepageKategorieGeld") }}
                                </h4>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- END Geldscheine -->

        {#von CERES #}

        {# 4 Artikel aus beliebiger Kategorie... siehe CERES Konfiguration 'Homepage' categorie3 #}
        {% set homepageContainer6 = LayoutContainer.show("Ceres::Homepage.Container6") %}
        {% if categoryList1 is not empty or homepageContainer6 | trim is not empty %}
            <div class="m-b-2 clearfix">
                {% if homepageContainer6 | trim is empty %}
                    <div class="section-header m-b-1">
                        <h4>{{ category3.details[0].name }}</h4>
                        <a href="documents/{{ services.category.getURL(category3.id, lang) }}"
                           class="section-link-all"><i
                                    class="fa fa-angle-double-right"
                                    aria-hidden="true"></i> {{ trans("Ceres::Template.homepageShowAll") }}</a>
                    </div>
                    <ul class="product-list row grid">
                        {% for item in categoryList1 %}
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ homepageContainer6 }}
                {% endif %}
            </div>
        {% endif %}


        {# 4 Artikel aus beliebiger Kategorie... siehe CERES Konfiguration 'Homepage' letzte Zeile (categorie6) #}
        {% set homepageContainer9 = LayoutContainer.show("Ceres::Homepage.Container9") %}
        {% if categoryList2 is not empty or homepageContainer9 | trim is not empty %}
            <div class="m-b-2 clearfix">
                {% if homepageContainer9 | trim is empty %}
                    <div class="section-header m-b-1">
                        <h4><span class="small">z.B. </span>{{ category6.details[0].name }}</h4>
                        <a href="{{ services.category.getURL(category6, lang) }}"
                           class="section-link-all"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.homepageShowAll") }}
                        </a>
                    </div>
                    <!-- crosssell start -->
                    <ul class="product-list row grid">
                        {% for item in categoryList2 %}
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                {% include "Ceres::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ homepageContainer9 }}
                {% endif %}
            </div>
        {% endif %}


        {#TopItems zuletzt gesehen#}
        {% set topItems = LayoutContainer.show("Ceres::Homepage.Container10") %}
        {% if topItems %}
                {{ topItems }}
        {% endif %}



        <!-- recommended plugins unten -->
        <div class="container-max">
            <hr class="my-2">

            <div class="row">
                <div class="row mt-xs-0_5">
                    <ul class="flex-container" id="recommended-plugins">
                        <!-- recommended plugins -->
                    </ul>
                </div>
            </div>

        </div>


    </div>

    {#from Theme homepage + .json#}
    <script>
        function getJson(url) {
            var Httpreq = new XMLHttpRequest();
            Httpreq.open( "GET", url, false );
            Httpreq.send( null );
            return Httpreq.responseText;
        }

        var currentLang = document.getElementById( "currentLang" ).textContent ||
            document.getElementById( "currentLang" ).innerText;
        var json = JSON.parse( getJson( 'https://www.schaffrathnumis.de/layout/theme/homepage.json' ) );

        renderCarousel();
        renderTexts();
        renderRecommendPlugins();

        function renderCarousel() {
            var carousel = document.getElementById( "carousel-content" );

            for (var i = 0; i < json[currentLang].pictures.length; i++) {
                var contentToAddDiv = document.createElement( 'div' );

                contentToAddDiv.className = "carousel-item text-muted" + ( i == 0 ? " active" : "" );

                var contentToAdd = '<div class="hero-category">' +
                    '<img class="img-fluid" src="' + json[currentLang].pictures[i].pictureUrl + '">' +
                    '<div class="hero-category-inner"><h4 class="hero-category-headline">' +
                    json[currentLang].pictures[i].textSliderUnten + '</h4>' +
                    '<div class="hero-category-cta"><a href="/kontakt">KONTAKT</a><i class="fa fa-chevron-right" aria-hidden="true"></i></div></div>' +
                    '</div>' +
                    '<div class="carousel-caption">' +
                    '<h2>' + json[currentLang].pictures[i].text + '</h2>' +
                    '</div>';

                contentToAddDiv.innerHTML = contentToAdd;

                carousel.appendChild( contentToAddDiv );
            }
        }

        function renderTexts() {
            var welcomeText = document.getElementById( "welcome-text" );
            var shortDescription = document.getElementById( "short-description" );
            var recommendText = document.getElementById( "recommend-text" );

            welcomeText.innerHTML = json[currentLang].texts.welcome;
            shortDescription.innerHTML = json[currentLang].texts.shortDescription;
            recommendText.innerHTML = json[currentLang].texts.recommendText;
        }

        function renderRecommendPlugins() {
            var recommendedPlugins = document.getElementById( "recommended-plugins" );

            for (var i = 0; i < json[currentLang].recommended.length; i++) {
                var contentToAddLi = document.createElement( 'li' );
                contentToAddLi.className = "flex-item";

                var contentToAdd = '<a href="' + json[currentLang].recommended[i].pluginLink + '">' +
                    '<img class="flex-image" src="' + json[currentLang].recommended[i].pluginIcon + '"</img>' +
                    '<div class="flex-align-bottom">' +
                    '<h1 class="flex-title">' + json[currentLang].recommended[i].pluginTitle + '</h1>' +
                    '<div class="flex-text">' + json[currentLang].recommended[i].pluginText + '</div>' +
                    '</div>' +
                    '</a>';

                contentToAddLi.innerHTML = contentToAdd;

                recommendedPlugins.appendChild( contentToAddLi );
            }
        }
    </script>



{% endblock %}